
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Rubik:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
// Base
@import './base/vars';
@import './vendors/bootstrap/vars';
@import './vendors/bootstrap/index';

@import './base/mixins';

// Fonts
@import './font-awesome/css/font-awesome.min.css';
@import './elegant-icons/style.min.css';

// React Slick

@import './react-slick/slick.min.css';
@import './react-slick/slick-theme.min.css';
/*------------------------------------------------------------------
 * This is main css file for theme. It is broken into following sections:
 * 1.  Global styles and reset
 * 2.  Header Styles
 * 3.  Footer styles
 * 4.  Title area styles
 * 5.  Side area styles
 * 6.  Fullscreen Menu functionality styles
 * 7.  Search functionality styles
 * 8.  Portfolio styles
 * 9.  Shortcodes styles
 * 10.  Widgets styles

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
 * Color codes

 * Accent color: #{$first-main-color} - #ff1d4d
 * Background: #{$default-background-color} - #fff
 * Content: #{$default-text-color} - #74797b
 * Header h1: #333
 * Header h2: #333
 * Header h3: #333
 * Header h4: #333
 * Header h5: #333
 * Header h6: #333
 * Header Background: #ffffff
 * Footer Top Background: #393939
 * Footer Bottom Background: #f6f6f6

 * a (standard): #{$first-main-color}
 * a (hover): #{$first-main-color}
 */

/* ==========================================================================
   1. Global styles and reset
   ========================================================================== */
@import './base/global';
@import './base/animations';
@import './base/spinners';

/* ==========================================================================
	 3. News Styles
	 ========================================================================== */

@import './components/modules/blog/blog-basic';
@import './components/modules/blog/blog-standard-list';
@import './components/modules/blog/blog-masonry-list';
@import './components/modules/blog/blog-split-column';
@import './components/modules/blog/blog-single';

/* ==========================================================================
   4. Title area styles
   ========================================================================== */
@import './components/modules/title/title';

/* ==========================================================================
   4. Timetable styles
   ========================================================================== */
@import './components/modules/timetable-schedule/timetable';
@import './components/modules/timetable-schedule/single-event';
@import './components/modules/timetable-schedule/widgets';

/* ==========================================================================
   5. Side area styles
   ========================================================================== */
@import './components/modules/sidearea/sidearea';

/* ==========================================================================
   6. Fullscreen Menu area styles
   ========================================================================== */
@import './components/modules/fullscreenmenu/fullscreenmenu';

/* ==========================================================================
   7. Search functionality styles
   ========================================================================== */
@import './components/modules/search/search';

/* ==========================================================================
   8. Portfolio styles
   ========================================================================== */
@import './components/modules/portfolio/portfolio';
/* ==========================================================================
  9. Team styles
========================================================================== */
@import './components/modules/team/team-list';

/* ==========================================================================
   2. Overlapping content styles
   ========================================================================== */
@import './components/modules/overlapping-content/overlapping-content';


/* ==========================================================================
   2. Content Bottom styles
   ========================================================================== */
@import './components/modules/content-bottom/content-bottom';

/* ==========================================================================
   9. Shortcodes styles
   ========================================================================== */

/* Elements holders styles
   ========================================================================== */
@import './components/modules/shortcodes/elements-holder';

/* Team styles
   ========================================================================== */
@import './components/modules/shortcodes/team';

/* Call To Action styles
   ========================================================================== */
@import './components/modules/shortcodes/calltoaction';

/* Counter styles
   ========================================================================== */
@import './components/modules/shortcodes/counter';

/* Icon styles
   ========================================================================== */
@import './components/modules/shortcodes/icon';

/* Countdown styles
   ========================================================================== */
@import './components/modules/shortcodes/countdown';

/* Message styles
   ========================================================================== */
@import './components/modules/shortcodes/message';

/* Ordered List styles
   ========================================================================== */
@import './components/modules/shortcodes/ordered-list';

/* Unordered List styles
   ========================================================================== */
@import './components/modules/shortcodes/unordered-list';

/* Icon List Item styles
   ========================================================================== */
@import './components/modules/shortcodes/icon-list-item';

/* Progress Bar styles
   ========================================================================== */
@import './components/modules/shortcodes/progress-bar';

/* Testimonials styles
   ========================================================================== */
@import './components/modules/shortcodes/testimonials';

/* Pricing Tables styles
   ========================================================================== */
@import './components/modules/shortcodes/pricing-tables';

/* Pie Chart Basic styles
   ========================================================================== */
@import './components/modules/shortcodes/piechartbasic';

/* Pie Chart With Icon styles
   ========================================================================== */
@import './components/modules/shortcodes/piechartwithicon';

/* Pie Chart Doughnut styles
   ========================================================================== */
@import './components/modules/shortcodes/piechartdoughnut';

/* Pie Chart Pie styles
   ========================================================================== */
@import './components/modules/shortcodes/piechartpie';

/* Pie Chart Pie styles
   ========================================================================== */
@import './components/modules/shortcodes/process';

/* Tabs styles
   ========================================================================== */
@import './components/modules/shortcodes/tabs';

/* Timetable styles
   ========================================================================== */
@import './components/modules/shortcodes/timetable';

/* Accordions styles
   ========================================================================== */
@import './components/modules/shortcodes/accordions';

/* Title with dots styles
   ========================================================================== */
@import './components/modules/shortcodes/title-with-dots';

/* Title with number styles
   ========================================================================== */
@import './components/modules/shortcodes/title-with-number';

/* Google Map styles
   ========================================================================== */
@import './components/modules/shortcodes/_google-map';

/* Separator styles
   ========================================================================== */
@import './components/modules/shortcodes/separator';

/* Blog List styles
   ========================================================================== */
@import './components/modules/shortcodes/blog-list';

/* Blog Slider styles
   ========================================================================== */
@import './components/modules/shortcodes/blog-slider';

/* Button styles
   ========================================================================== */
@import './components/modules/shortcodes/button';

/* Carousel styles
   ========================================================================== */
@import './components/modules/shortcodes/carousels';

/* Custom Fonr styles
   ========================================================================== */
@import './components/modules/shortcodes/custom-font';

/* Blockquote styles
   ========================================================================== */
@import './components/modules/shortcodes/blockquote';

/* Image Gallery styles
   ========================================================================== */
@import './components/modules/shortcodes/imagegallery';

/* Image Gallery styles
   ========================================================================== */
@import './components/modules/shortcodes/image-with-text';

/* Item Showcase
   ========================================================================== */
@import './components/modules/shortcodes/item-showcase';

/* Video Button styles
   ========================================================================== */
@import './components/modules/shortcodes/videobutton';

/* Dropcaps styles
   ========================================================================== */
@import './components/modules/shortcodes/dropcaps';

/* Portfolio styles
   ========================================================================== */
@import './components/modules/shortcodes/portfolio';

/* Icon With Text styles
   ========================================================================== */
@import './components/modules/shortcodes/icon-with-text';

/* Banner styles
   ========================================================================== */
@import './components/modules/shortcodes/banner';

/* Social Share styles
   ========================================================================== */
@import './components/modules/shortcodes/socialshare';

/* Slider styles
   ========================================================================== */
@import './components/modules/shortcodes/slider';

/* Shop Masonry styles
   ========================================================================== */
@import './components/modules/shortcodes/shop-masonry';

/* Project presentation styles
   ========================================================================== */
@import './components/modules/shortcodes/project-presentation';
/* ==========================================================================
   #Comments styles - start
   ========================================================================== */

#App {
	min-height: 100vh;
}
.edgtf-comment-holder {
	margin: 0 0 73px;
	padding-top: 8px;
	box-sizing: border-box;
	clear: both;

	.edgtf-comment-image {
		display: block;
		width: 85px;
		height: 85px;
		border-radius: 100%;
		overflow: hidden;
		float: left;
	}
	.edgtf-pingback-comment {
		.edgtf-comment-text {
			padding: 0;
		}
	}
	.edgtf-comment-text {
		padding: 0 0 0 110px;
		min-height: 85px;
		margin-top: -4px;

		.edgtf-comment-info {
			display: inline-block;
			width: 100%;
			vertical-align: middle;
		}

		.edgtf-reply-edit-holder {
			float: right;
		}

		.replay,
		.comment-reply-link,
		.comment-edit-link {
			margin-left: 10px;
			font-family: $second-font;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 12px;
			line-height: 34px;
			display: inline-block;
			color: $first-main-color;
			position: relative;
			font-weight: 500;
			@include edgtfTransition(background-color 0.3s ease-out, color 0.3s ease-out);

			&:hover {
				color: $default-heading-color;
			}
		}
		.edgtf-comment-name {
			float: left;
			margin-top:0;
			margin-bottom:6px;
		}

		.edgtf-comment-date {
			display: block;
			clear: both;
			margin-bottom: 25px;
			font-family: $second-font;
			font-size: 12px;
			line-height: 12px;
			color:#757575;
			font-weight: 500;
		}
	}

	.edgtf-comments-closed{
		padding-top:16px;
	}

}

.comment-respond {
	.comment-reply-title {
		margin-bottom: 20px;

		&.edgtf-comment-reply-title-registered {
			margin-bottom: 0;
		}
	}

	.logged-in-as {
		padding: 0;
		margin: 0;
	}

	.edgtf-comment-registered-user {
		.logged-in-as {
			margin-bottom: 20px;
		}
	}
	p.form-submit {
		margin: 0;
		padding: 0;
	}
}
.edgtf-comment-list {
	list-style: none;
	position: relative;
	z-index: 150;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		position: relative;
		width: 100%;

		.edgtf-comment {
			padding-top: 45px;
			padding-bottom: 50px;
			border-bottom: 2px solid #efefef;

			p {
				margin: 0;
			}
		}

		@for $i from 2 through 10 {
			&.depth-#{$i} .edgtf-comment {
				padding-left: 110px * ($i - 1);
			}
		}
	}

	.children {
		padding: 0 0 0 0;
	}
}




%input-style{
	width: 100%;
	margin-bottom: 26px;
	padding: 19px 17px;
	border: 2px solid #e1e1e1;
	@include edgtfBorderRadius(4px);
	outline: 0;
	font-family: inherit;
	font-size: 14px;
	background-color: rgba(255,255,255,0.15);
	color: $default-text-color;
	@include edgtfBoxSizing(border-box);
	vertical-align: middle;

	&:focus{
		border: 2px solid $first-main-color;
	}
}

.wpcf7-form-control{
	&.wpcf7-text,
	&.wpcf7-number,
	&.wpcf7-date,
	&.wpcf7-textarea,
	&.wpcf7-select,
	&.wpcf7-quiz{
		@extend %input-style;
	}
}

.wpcf7-form{
	.edgtf-newsletter{
		input.wpcf7-form-control{
			&.wpcf7-submit{
				color:#313131;;
				background-color: #fff;
				height: 61px;
				line-height: 61px;
				border:none;
				padding: 0 66px;
				float: left;

				&:hover{
					background-color: $first-main-color;
					color:#fff;
				}
			}

			&.wpcf7-text{
				width: 73%;
				float: left;
				margin-right: 15px;
				border: 2px solid #fff;
				margin-left: 15px;
				@include edgtfBoxSizing(box-sizing);
				color: #fff;

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #fff;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #fff;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #fff;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #fff;
				}
			}
		}
	}

	.edgtf-register-form{
		@include edgtfBorderRadius(3px);
		padding: 30px 40px;
		background-color: rgba(255,255,255,.94);
		h2{
			font-weight: 500;
			margin-bottom: 31px;
		}

		.wpcf7-form-control{
			&.wpcf7-submit{
				width: 100%;
				font-size: 12px;
				height: 53px;
				margin-top: 1px;
				line-height: 53px;
			}
			&.wpcf7-text,
			&.wpcf7-number,
			&.wpcf7-date,
			&.wpcf7-textarea,
			&.wpcf7-quiz{
				padding: 16px 17px;
				font-size: 13px;
			}
			&.wpcf7-text,
			&.wpcf7-number,
			&.wpcf7-date,
			&.wpcf7-textarea,
			&.wpcf7-quiz{
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #888888;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #888888;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #888888;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #888888;
				}
			}

			&.wpcf7-select{
				padding: 0!important;
				border: none;
				font-size: 13px;

				.select2-choice{
					border: 2px solid #e1e1e1;
					background: transparent;
					color: #888888;
					padding: 10px 17px;

					.select2-arrow{
						right: 15px;
						line-height: 43px;
						color: #888888;
						&:before{
							font-family: 'FontAwesome', sans-serif;
							content: "\f078";
							font-size: 10px;
						}
					}
				}
			}

		}

		&.light{
			background-color: transparent;
			padding: 0;
			.wpcf7-form-control{
				&.wpcf7-text,
				&.wpcf7-number,
				&.wpcf7-date,
				&.wpcf7-textarea,
				&.wpcf7-select,
				&.wpcf7-quiz{
					color:#fff;
					border-color:#4f4f4f;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: #fff;
					}
					&::-moz-placeholder { /* Firefox 19+ */
						color: #fff;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						color: #fff;
					}
					&:-moz-placeholder { /* Firefox 18- */
						color: #fff;
					}
				}
				.select2-choice{
					border-color: #4f4f4f;
					background: transparent;
					color: #fff;
					padding: 10px 17px;

					.select2-arrow{
						right: 15px;
						line-height: 43px;
						color: #888888;
						&:before{
							font-family: 'FontAwesome', sans-serif;
							content: "\f078";
							font-size: 10px;
						}
					}
				}
			}


			h2{
				color:#fff;
				font-weight: 500;
				margin-bottom: 15px;
			}
		}

	}

	&.cf7_custom_style_1{
		.wpcf7-form-control{
			&.wpcf7-text,
			&.wpcf7-number,
			&.wpcf7-date,
			&.wpcf7-textarea,
			&.wpcf7-select,
			&.wpcf7-quiz{
				padding: 14px 17px;
				font-size: 13px;
				margin-bottom: 20px;
			}
			&.wpcf7-textarea{
				height: 263px;
			}

			&.wpcf7-submit{
				float: right;
				padding: 0 38px;
				font-size: 12px;
			}
		}
	}
}

#respond textarea,
#respond input[type='text'],
.post-password-form input[type='password']{
	@extend %input-style;
}

#submit_comment,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit{
	display: inline-block;
	width: auto;
	height: 48px;
	line-height: 48px;
	padding: 0 33px;
	border: 1px solid $first-main-color;
	font-family: $second-font;
	font-size: 15px;
	letter-spacing: 1.5px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: $first-main-color;
	cursor: pointer;
	@include edgtfTransition(all 0.15s ease-out);
	@include edgtfBorderRadius(4px);

	&:hover{
		color: #fff;
		background-color: $default-heading-color;
		border-color: $default-heading-color;
	}

	&:focus {
		outline: none;
	}
}

/* ==========================================================================
   #Comments styles - end
   ========================================================================== */

/* ==========================================================================
   #Contact Form 7 styles - start
   ========================================================================== */

div.wpcf7 img.ajax-loader {
	display: none;
}

.edgtf-two-columns-form{
	display:table;
	width:100%;

	.edgtf-column-inner {

		vertical-align: middle;
		display: table-cell;

		&:last-child {
			width: 1%;
			text-align: left;
			padding-left: 9px;
		}
		&:first-child {
			padding-right: 9px;
		}
	}
}

/* ==========================================================================
   #Contact Form 7 styles - end
   ========================================================================== */

/* ==========================================================================
   #Pagination styles - start
   ========================================================================== */

.edgtf-container.edgtf-container-bottom-navigation {

	background-color: #f5f5f5;
	padding: 31px 0;

	.edgtf-container-inner {
		padding: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

}


.edgtf-pagination-holder {

	display:table;
	table-layout:fixed;
	width:100%;

	.edgtf-pagination {
		display:table-cell;
		width: 100%;
		vertical-align: middle;
		position: relative;
		text-align: center;

		ul {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
		}

		li {
			float: left;
			text-align: center;
			display: block;

			a,
			&.active span {
				position: relative;
				display: inline-block;
				padding: 0 13px;
				margin: 0;
				vertical-align: middle;
				text-decoration: none;
				font-weight: 400;
				font-size: 18px;
				font-family: 'Montserrat', serif;
				cursor: pointer;
				white-space: nowrap;
				box-sizing: content-box;
				color: $default-heading-color;

			}
			&.active span {
				color: #959595;
			}
			&.edgtf-pagination-prev,
			&.edgtf-pagination-next,
			&.edgtf-pagination-first-page,
			&.edgtf-pagination-last-page
			{
				position: absolute;
				a{
					font-size: 25px;
					padding: 0;
				}
			}

			&.edgtf-pagination-prev {
				left: 0;
				span {
					display: inline-block;
					@include edgtfTransition(all .2s ease);
				}
				&:hover {
					span {
						@include edgtfTransform(translateX(-5px));
					}
				}
				&.edgtf-pagination-prev-first {
					left: 25px;
				}
			}
			&.edgtf-pagination-first-page {
				left: 0;
			}

			&.edgtf-pagination-next {
				right: 0;
				span {
					display: inline-block;
					@include edgtfTransition(all .2s ease);
				}
				&:hover {
					span {
						@include edgtfTransform(translateX(5px));
					}
				}
				&.edgtf-pagination-next-last {
					right: 25px;
				}
			}
			&.edgtf-pagination-last-page {
				right: 0;
			}
		}
	}
}



/* ==========================================================================
   #Owl Slider (Blog single, Portfolio single) - end
   ========================================================================== */

/* ==========================================================================
   #Slick Slider navigation - start
   ========================================================================== */
.edgtf-slick-slider{
	opacity:0;
	&.slick-initialized{
		opacity:1;
	}
}
.edgtf-slick-slider-navigation-style {

	&:not(.edgtf-portfolio-media) .slick-list{
		padding:10px 0;
	}

	.edgtf-slick-prev,
	.edgtf-slick-next {

		position: absolute;
		z-index: 100;
		top: 50%;
		display: block;
		padding: 0;
		cursor: pointer;
		border: none;
		outline: none;
		font-size: 33px;
		color:#c5c5c5;
		@include edgtfTransform(translateY(-50%))
	}

	.edgtf-slick-prev {
		right:calc(100% + 3px);
	}

	.edgtf-slick-next {
		left:calc(100% + 3px);
	}

	.edgtf-slick-dots {
		text-align: center;
		margin: 25px 0 0 0;
		padding: 0;
		position: relative;
		width: 100%;
		top: 100%;

		li {
			width: 10px;
			height: 10px;
			@include edgtfBorderRadius(50%);
			background-color: $default-text-color;
			box-sizing: border-box;
			display: inline-block;
			margin: 0 8px;
			cursor:pointer;
			position:relative;
			&.slick-active {
				background-color: $first-main-color;
			}

			&:first-child{
				margin-left:0
			}

			&:last-child{
				margin-right:0
			}


			button{
				display:none;
			}

		}
	}

}

/* ==========================================================================
   #Slick Slider navigation - end
   ========================================================================== */





/* ==========================================================================
   #404 styles - start
   ========================================================================== */

.edgtf-404-page{
	padding: 0;
}

.edgtf-page-not-found{

	margin: 80px 0 106px;
	text-align: center;
	padding: 0 20%;

	.edgtf-page-not-found-top {
		font-family: $second-font;
		font-weight: 500;
		font-size: 150px;
		color: #313131;
		line-height: 1em;
		display: block;
		margin-bottom: 10px;
	}
	.edgtf-separator {
		border-color: $first-main-color;
		border-style: solid;
		width: 55px;
		border-bottom-width: 2px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	h3{
		margin-bottom: 23px;
	}

	h5{
		margin-bottom: 40px;
		font-size: 14px;
		font-family: $first-font;
		color:#888888;
		line-height: 31px;

	}
}

/* ==========================================================================
   #404 styles - end
   ========================================================================== */

/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */
$back-to-top-size:30px;
#edgtf-back-to-top{
    position: fixed;
    width:$back-to-top-size;
    right: $back-to-top-size;
    bottom: 65px;
    margin: 0;
    z-index: 3000;
    @include edgtfTransition(opacity 0.15s ease-out, visibility 0.15s ease-out);
    opacity: 0;
    visibility: hidden;
}
#edgtf-back-to-top.off{
    opacity: 0;
    visibility: hidden;
}
    
#edgtf-back-to-top.on{
    opacity: 1;
    visibility: visible;
}

#edgtf-back-to-top > span {
	width:$back-to-top-size;
	height: $back-to-top-size;
	line-height:$back-to-top-size;
	@include edgtfBorderRadius(4px);
	text-align:center;
    display: block;
	color: #fff;
    font-size:20px;
	//background-color:#69c5d3;
	box-sizing: border-box;
}

#edgtf-back-to-top span span {
	display: block;
	line-height: inherit;
	&:before {
		position: relative;
		left: -1px;
	}
}

.edgtf-front-side,
.edgtf-back-side{
	position: absolute;
	width:100%;
	height:100%;
	-webkit-transition: -webkit-transform .2s ease-out;
	transition:transform .2s ease-out;
}
$z-index:$back-to-top-size / 2;
.edgtf-front-side {
	background-color:$first-main-color;
	z-index: 1;
	#edgtf-back-to-top.off & {
		@include edgtfTransform(rotateX(-90deg) translateZ($z-index));
	}
	#edgtf-back-to-top.on & {
		@include edgtfTransform(rotateX(-0deg) translateZ($z-index));
	}
}
.edgtf-back-side{
	background-color: $second-main-color;
	@include edgtfTransform(rotateX(-90deg) translateZ($z-index));
}

#edgtf-back-to-top:hover {
	.edgtf-front-side {
		@include edgtfTransform(rotateX(90deg) translateZ($z-index));
	}

	.edgtf-back-side {
		@include edgtfTransform(rotateX(0deg) translateZ($z-index));
		z-index: 1;
	}
}
/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */

/* ==========================================================================
   #Self Hosted Video styles - start
   ========================================================================== */
.edgtf-self-hosted-video-holder{
	.edgtf-video-wrap{
		.mejs-container,
		.mejs-overlay-play{
			height: 100% !important; /*!important because of the inline style*/
			width: 100% !important; /*!important because of the inline style*/
		}
	}
}

/* ==========================================================================
   #Self Hosted Video styles - end
   ========================================================================== */

/* ==========================================================================
   #Screen reader text - start
   ========================================================================== */

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}

}

/* ==========================================================================
   #Screen reader text - end
   ========================================================================== */

/* ==========================================================================
   #Image link style- start
   ========================================================================== */
	.wpb_single_image{
		a.vc_single_image-wrapper{
			display: block;
			position: relative;

			&:after{
				content: '';
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height: 100%;
				background-color: rgba(0,0,0,.35);
				opacity: 0;
				@include edgtfTransition(opacity .2s linear);
			}

			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}
	}

/* ==========================================================================
   #Image link style- end
   ========================================================================== */

	//  
	.ebs-main-header {
		box-shadow: 0 4px 8px rgba($black,0.1);
		position: relative;
		z-index: 999;
	}
	.blog-post-social {
    max-width: 50px;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-60%);
    margin-left: -80px;
		svg {
			margin-bottom: 10px;
		}
}